# Dependencies
node_modules/
.pnp/
.pnp.* 

# Next.js build output
.next/
out/
dist/

# Production build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
turbo.log

# Env files (ne jamais pousser tes secrets)
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Misc cache
.next-env.d.ts
.eslintcache
.stylelintcache

# Vercel metadata
.vercel/
